body{
	margin:0px; padding:0px; font-family:"黑体";
}
img{
	border:0px;
}
ul,li,input,select,form,p{
	margin:0px;
}
ul{
	list-style:none; padding:0px;
}
input{
	font-family:"黑体";
}
a{
	text-decoration:none;
}
.space{
	width:1280px; height:50px;
}


.index-content{
	width:1280px; height:1000px; margin:0px auto; padding:0px; background:url(../images/bg01.jpg) no-repeat 0px 0px; background-size:cover;
}
.index-main{
	width:1280px; height:1000px; position:relative;
}
.index-logo{
	width:725px; height:68px; position:absolute; top:60px; left:250px; background:url(../images/logo1.png) no-repeat;
}
.index-trial,.index-sign,.index-test{
	width:250px; height:640px; cursor:pointer; position:relative;
}
.index-apply,.index-service{
	width:250px; height:300px; cursor:pointer; position:relative;
}
.index-trial{
	background:#ff7f3f; position:absolute; top:220px; left:95px;
}
.index-apply{
	background:#7db118; position:absolute; top:220px; left:375px;
}
.index-service{
	background:#739cba; position:absolute; top:560px; left:375px;
}
.index-sign{
	background:#f0b739; position:absolute; top:220px; left:655px;
}
.index-test{
	background:#2eb0be; position:absolute; top:220px; left:935px;
}
.index-trial:hover{
	background:#f16f2e;
}
.index-apply:hover{
	background:#689e00;
}
.index-sign:hover{
	background:#eda300;
}
.index-service:hover{
	background:#5a89ab;
}
.index-test:hover{
	background:#1b9fad;
}
.index-main span{
	font-size:42px; margin:0px 0px 0px 40px; color:#fff; font-weight:bold; line-height:140px;
}
.index-trial span,.index-sign span,.index-test span{
	line-height:360px;
}
.index-main i{
	width:140px; height:150px; display:block;
}
.index-trial i{
	background:url(../images/indexicon.png) no-repeat 0px 0px; position:absolute; top:440px; left:55px;
}
.index-apply i{
	background:url(../images/indexicon.png) no-repeat -390px 0px; position:absolute; top:140px; left:65px;
}
.index-sign i{
	background:url(../images/indexicon.png) no-repeat 0px -390px; position:absolute; top:440px; left:60px;
}
.index-service i{
	background:url(../images/indexicon.png) no-repeat -380px -390px; position:absolute; top:140px; left:55px;
}
.index-test i{
	background:url(../images/indexicon.png) no-repeat -690px 0px; position:absolute; top:440px; left:65px;
}


.wrapper{
	width:1280px; height:1000px; margin:0px auto; padding:0px; background:url(../images/bg02.jpg) no-repeat 0px 0px;
}
.top{
	width:1280px; height:95px; background:#003571; border-bottom:5px #00234a solid;
}
.topleft{
	width:363px; height:34px; float:left; margin:28px 0px 0px 50px; background:url(../images/logo2.png) no-repeat;
}
.topright{
	width:95px; height:95px; float:right;
}
.topright a{
	display:block; width:40px; height:30px; background:url(../images/icon-home.png) no-repeat center top; text-align:center; padding-top:38px; color:#fff; font-size:18px; margin:20px 0px 0px 25px;
}


.content{
	width:1280px; height:900px; text-align:center;
}
h1{
	font-size:100px; width:1280px; height:180px; line-height:180px; color:#fff; font-weight:normal; margin:0px;
}
.summary{
	width:1280px; height:auto; line-height:60px; font-size:30px; color:#fff;
}
.menu-shisuan{
	width:800px; height:200px; margin:40px auto 0px auto;
}
.menu-shisuan ul{
	width:800px; height:200px;
}
.menu-shisuan ul li{
	width:166px; height:200px; float:left; padding:0px 17px;
}
.menu-shisuan ul li a{
	display:block; width:166px; height:56px; text-align:center; color:#fff; font-size:18px; background:url(../images/menu-shisuan.png) no-repeat; cursor:pointer; padding-top:110px;
}
.menu-shisuan ul li a.a{
	background:url(../images/menu-shisuan.png) 0px 0px;
}
.menu-shisuan ul li a.b{
	background:url(../images/menu-shisuan.png) -166px 0px;
}
.menu-shisuan ul li a.c{
	background:url(../images/menu-shisuan.png) -332px 0px;
}
.menu-shisuan ul li a.d{
	background:url(../images/menu-shisuan.png) -498px 0px;
}
.menu-shisuan ul li a.a:hover{
	background:url(../images/menu-shisuan.png) 0px -166px;
}
.menu-shisuan ul li a.b:hover{
	background:url(../images/menu-shisuan.png) -166px -166px;
}
.menu-shisuan ul li a.c:hover{
	background:url(../images/menu-shisuan.png) -332px -166px;
}
.menu-shisuan ul li a.d:hover{
	background:url(../images/menu-shisuan.png) -498px -166px;
}


.leftmain{
	width:550px; height:810px; float:left; padding:40px 40px 50px 50px;
}
.rightmain{
	width:550px; height:810px; float:right; padding:40px 50px 50px 40px;
}
.leftmain .title{
	width:550px; height:60px; line-height:60px; background:#104b99; border-radius:8px 8px 0px 0px; text-align:left; font-size:24px; color:#fff;
}
.leftmain .title span{
	margin-left:20px;
}
.left-con{
	width:550px; height:750px; background:#fff; border-radius:0px 0px 8px 8px;
}
.left-con .table{
	width:500px; height:auto; padding:25px 25px 0px 25px;
}
.left-con .table table{
	border-top:2px #9a989b solid; border-right:2px #9a989b solid;
}
.left-con .table td{
	border-bottom:2px #9a989b solid; border-left:2px #9a989b solid; height:50px; line-height:50px; padding:5px; font-size:20px;
}
.left-con .table td.td-left{
	text-align:center; width:150px; color:#032349;
}
.left-con .table td input,.left-con .table td select{
	width:98%; height:50px; line-height:50px; font-size:20px; font-family:Microsoft Yahei;
}
.left-con .table-button{
	width:500px; height:50px; padding:20px 25px 10px 25px; text-align:right;
}
.left-con .table-button input{
	width:150px; height:50px; background:#36b42d; text-align:center; color:#fff; font-size:30px; border:0px; margin:0px 5px; border-radius:4px; cursor:pointer; outline:none;
}
.left-con .table-button input:hover{
	background:#137b0c;
}
.left-con .table td.td-th{
	color:#032349; background:#dbe2f4;
}
.rightmain .r-title{
	width:550px; height:auto; line-height:60px; font-size:36px; color:#00234b; text-align:left;
}
.rightmain .r-block{
	width:550px; height:50px; line-height:50px; padding:15px 0px;
}
.rightmain .r-block span{
	display:block; width:150px; text-align:center; color:#00234b; text-align:right; float:left; font-size:30px;
}
.rightmain .r-block input{
	width:390px; height:50px; line-height:50px; border:2px #0f3f7d solid; border-radius:2px; float:left; font-size:30px;
}
.rightmain .numberDiv{
	width:550px; height:360px; position:relative; margin-top:50px; overflow:hidden;
}
.rightmain .numberDiv .numberbar{
	width:560px; height:120px;
}
.rightmain .numberDiv .numberbar a{
	display:block; width:120px; height:100px; line-height:90px; background:url(../images/icon-num.png) 0px 0px; float:left; margin:0px 10px; font-size:30px; text-align:center; font-family:Arial; font-weight:bold; cursor:pointer;
}
.rightmain .numberDiv .numberbar a.delete{
	width:120px; height:210px; position:absolute; top:120px; right:0px; background:url(../images/icon-num.png) 0px -98px; margin:0px;
}
.rightmain .numberDiv .numberbar a:hover{
	background:url(../images/icon-num.png) -120px 0px; color:#fff;
}
.rightmain .numberDiv .numberbar a.delete:hover{
	background:url(../images/icon-num.png) -120px -98px;
}
.sendbutton{
	width:550px; height:84px; text-align:center; margin-top:15px;
}
.sendbutton input{
	width:530px; height:80px; border:0px; background:#36b42e; text-align:center; color:#fff; cursor:pointer; border-radius:4px; font-size:40px;
}
.sendbutton input:hover{
	background:#137b0c;
}


.apply-block{
	width:1040px; height:740px; padding:10px; margin:0px auto; background:rgba(255, 255, 255, 0.6)!important;  filter:Alpha(opacity=60); background:#fff; position:relative; top:60px;
}
.apply-block-main{
	width:1040px; height:740px; background:#fff;
}
.apply-block-title{
	width:1040px; height:100px; text-align:center; line-height:100px; font-size:30px;
}
.apply-block-txt{
	width:900px; height:480px; border:2px #999 solid; margin:0px auto; background:#eee; overflow:hidden; overflow-y:scroll; text-align:left; padding:20px;
}
.apply-block-txt p{
	font-size:20px; line-height:32px; text-indent:40px; margin:10px 0px;
}
.apply-block-button{
	width:940px; height:50px; margin:30px 0px 0px 0px; text-align:center;
}
.apply-block-button input{
	width:150px; height:50px; background:#36b42d; text-align:center; color:#fff; font-size:30px; border:0px; margin:0px 60px; border-radius:4px; cursor:pointer; outline:none;
}
.apply-block-button input:hover{
	background:#137b0c;
}


.keyboard{
	width:500px; height:auto; margin:20px 25px 0px 25px;
}
.keyboard img{
	width:500px;
}
.idcard-block{
	width:550px; height:600px; background:#fff; text-align:center; color:#00234a; font-size:48px;
}
.right-title{
	width:400px; line-height:70px; padding:40px 75px 20px 75px;
}
.idcard-area{
	width:400px; height:320px; margin:0px auto;
}
.idcard-area img{
	width:400px; height:320px;
}
.submit{
	width:550px; height:84px; margin:0px auto; padding:60px 0px 0px 0px; text-align:center;
}
.submit input{
	width:550px; height:80px; border:0px; background:#36b42e; text-align:center; color:#fff; cursor:pointer; border-radius:4px; font-size:40px;
}
.submit input:hover{
	background:#137b0c;
}

a.upload-a{
	font-size:26px; color:#000cff; cursor:pointer;
}
a.upload-a:hover{
	text-decoration:underline;
}

span.uploaded{
	color:#25b01c; display:inline-table; background:url(../images/icon-right.png) no-repeat left center; padding-left:40px; font-size:26px;
}


.banklist{
	width:1000px; height:400px; margin:0px auto;
}
.banklist ul li{
	width:250px; height:270px; display:block; float:left; cursor:pointer; text-align:center; padding-top:65px;
}
.banklist ul li img{
	width:201px; height:251px;
}
.banklist ul li img:hover{
	width:220px; height:270px;
}


.face-title{
	font-size:70px; width:1280px; height:120px; line-height:120px; color:#fff; font-weight:normal; margin:0px;
}
.faceblock{
	width:1022px; height:621px; background:url(../images/facebg.png) no-repeat; margin:0px auto;
}
.facebutton{
	width:1000px; height:80px; margin:0px auto; padding:30px 0px 0px 0px;
}
.facebutton input{
	width:200px; height:80px; border:0px; background:#36b42e; text-align:center; color:#fff; cursor:pointer; border-radius:4px; font-size:40px;
}
.facebutton input:hover{
	background:#137b0c;
}

.zhiwen{
	width:441px; height:532px; margin:0px auto; background:url(../images/zhiwen.png) no-repeat;
}
.compar{
	width:1050px; height:620px; margin:0px auto;
}
.compaleft{
	width:510px; height:620px; float:left; background:url(../images/pic12.jpg) no-repeat;
}
.comparight{
	width:510px; height:620px; float:right; background:url(../images/comparbg.png) no-repeat;
}



.testblock{
	width:1280px; height:650px; margin:30px auto 0px auto;
}
.test-title{
	width:1280px; height:30px; line-height:30px; font-size:30px; padding:30px 0px 50px 0px; color:#fff;
}
.test-option{
	width:1280px; height:340px; margin:0px auto; text-align:center;
}
.test-option a{
	display:inline-block; width:160px; height:210px; background:rgba(255, 255, 255, 1)!important;  filter:Alpha(opacity=100); background:#fff; margin:0px 5px; cursor:pointer;
}
.test-option a:hover{
	background:rgba(255, 255, 255, 0.6)!important;  filter:Alpha(opacity=60); background:#fff;
}
.test-option a b{
	width:160px; height:150px; padding-top:20px; display:inline-block;
}
.test-option a b img{
	width:110px; height:110px; margin-top:10px;
}
.test-option a span{
	display:inline-block; width:160px; height:40px; line-height:40px; background:#2eb0be; color:#fff; font-size:18px;
}
.test-result{
	width:900px; height:140px; margin:0px auto;
}
.element{
	width:150px; height:110px; border-top:3px #006ac7 solid; float:left;
}
.element span{
	display:inline-block; width:150px; height:90px;
}
.element span img{
	width:70px; height:70px; margin-top:10px;
}
.element em{
	font-size:14px; color:#000; font-style:normal;
}
.option-in{
	width:1000px; height:50px; padding:70px 0px 10px 0px; margin:0px auto;
}
.option-in span.option-span{
	font-size:30px; color:#fff; margin:0px 10px 0px 0px; vertical-align:middle;
}
.option-in input.option-input{
	border:1px #eee solid; width:300px; height:48px; line-height:48px; padding:0px 5px; font-size:30px; vertical-align:middle;
}
.option-in a{
	display:inline-block; width:100px; height:48px; background:none; margin:0px; cursor:pointer; border-radius:4px;
}
.option-in input.option-button{
	width:100px; height:50px; border:none; border-radius:4px; background:#36b42d; color:#fff; font-size:24px; vertical-align:middle; cursor:pointer;
}
.option-in input.option-button:hover{
	background:#137b0c;
}
.option-tips{
	font-size:18px; color:#fff000; width:1180px; padding-right:100px;
}
.test-txt{
	width:1280px; line-height:70px; font-size:36px; padding:70px 0px 50px 0px; color:#fff;
}
.test-txt span.red{
	font-size:48px; color:#fff000;
}



