/*pop div*/
.modal{
	position:fixed; top:50%; left:45%; z-index:1050; width:740px; margin:-250px 0 0 -280px; background:#ffffff; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; outline:none; display:none;
}
.close{
	cursor:pointer; position:absolute; right:15px; top:14px; background:url(../css/images/close.png) no-repeat; width:16px; height:16px;
}
.modal-backdrop{/*bottom black*/
	position:fixed; top:0; right:0; bottom:0; left:0; z-index:1040; background:#000000; opacity:0.6; filter:alpha(opacity=60);
}
.modal h1,#forgetform h1,#signup-modal h1,#login-modal h1{
	background:#3689c8; font-size:18px; color:#fff; padding-left:15px; height:50px; line-height:50px; margin:0px; border-top-left-radius:6px; border-top-right-radius:6px;
}
.pop-tx{
	width:690px; height:auto; padding:20px 25px 30px 25px;
}
.pop-tx-con{
	width:690px; height:360px;
}
.pop-tx-button{
	width:210px; height:32px; margin:25px auto 10px auto;
}
.pop-tx-button input.save{
	width:90px; height:32px; background:#3689c8; border:0px; text-align:center; color:#fff; float:left; border-radius:4px; cursor:pointer;
}
.pop-tx-button input.cancel{
	width:90px; height:32px; background:#ddd; border:0px; text-align:center; color:#333; float:right; border-radius:4px; cursor:pointer;
}

.pop-tx table{
	border-left:1px #e8e8e8 solid; border-top:1px #e8e8e8 solid;
}
.pop-tx td{
	height:34px; line-height:34px; border-bottom:1px #e8e8e8 solid; border-right:1px #e8e8e8 solid; text-align:center; color:#333;
}