body{
	margin:0px; padding:0px; font-family:Microsoft Yahei; font-size:14px; background:#ececec; line-height:30px;
}

img{
	border:0px;
}
ul,li,p,h1,h3,p{
	margin:0px; padding:0px; list-style:none;
}
input{
	margin:0px; padding:0px; font-family:Microsoft Yahei; outline:none;
}


.font01{
	color:#ff5a00;
}
.font02{
	color:#d91c1c;
}
.font03{
	color:#868686; font-size:12px;
}

.font05{
	color:#f00;
}

i{
	width:20px; height:20px; background:url(images/icon.png); display:inline-block; vertical-align:text-bottom; margin-right:3px;
}
.icon-grade{
	background-position:0px 0px;
}
.icon-score{
	background-position:-20px 0px;
}
.icon-charge{
	background-position:-40px 0px;
}
.icon-do{
	background-position:-60px 5px; float:left;
}
.gender-gril{
	background-position:-80px -2px;
}
.gender-boy{
	background-position:-100px -2px;
}
.icon-phone{
	background-position:-120px 0px;
}
.icon-mail{
	background-position:-140px 0px;
}
.icon-modify{
	background-position:-157px 1px;
}
.icon-system{
	background-position:-180px 0px; float:left; margin-top:6px;
}
.icon-money{
	background-position:-200px 0px; float:left; margin-top:6px;
}
.icon-listmail{
	background-position:-220px 0px; float:left; margin:7px 5px 0px 5px;
}
.icon-listmailread{
	background-position:-240px 0px; float:left; margin:7px 5px 0px 5px;
}
.icon-perdata{
	background-position:-260px 4px; float:left; margin-right:10px;
}
.icon-account{
	background-position:-280px 4px; float:left; margin-right:10px;
}
.icon-profit{
	background-position:-300px 4px; float:left; margin-right:10px;
}
.icon-right{
	background-position:-320px 0px; margin:5px 5px 0px 0px;
}






/*top*/
.top{
	width:auto; height:60px; background:#3fa7cc;
}
.topcon{
	width:1200px; height:60px; margin:0px auto; padding:0px;
}
.logo{
	width:260px; height:36px; padding:12px 0px; float:left;
}
.menu{
	width:610px; height:60px; float:left;
}
.usernav{
	width:280px; height:60px; float:right; line-height:60px; text-align:right;
}
.menu ul li{
	width:100px; height:60px; float:left; line-height:60px; text-align:center; font-size:16px; cursor:pointer; position:relative;
}
.menu ul li a{
	color:#fff; text-decoration:none;
}
.menu ul li.sel,.menu ul li:hover{
	background:#0886b3;
}
.usernav a,.usernav span{
	margin-left:20px; color:#fff; text-decoration:none;
}
.usernav a:hover{
	text-decoration:underline;
}
.menu ul li ul {
	display: none;
}
.menu ul li:hover a {
	color:#fff; 
}
.menu ul li:hover ul {
	display:block; position:absolute; top:60px; left:0; width:100px;
}
.menu ul li:hover ul li{
	height:40px; line-height:40px; background:#0886b3; width:100px; font-size:14px; border-bottom:1px #3fa7cc dotted; z-index:9999;
}
.menu ul li:hover ul li:hover{
	background:#3fa7cc;
}

/*footer*/
.footer{
	width:auto; height:80px; background:#333; clear:both;
}
.footercon{
	width:1200px; height:80px; line-height:80px; margin:0px auto; color:#aaa;
}
.footercon a{
	color:#aaa; text-decoration:none;
}
.footercon a:hover{
	color:#fff; text-decoration:underline;
}
.footercon-left{
	width:600px; height:80px; float:left;
}
.footercon-right{
	width:600px; height:80px; float:right; text-align:right;
}
.footercon-right a{
	margin-left:30px;
}



/*myhome.html content*/
.content{
	width:1198px; height:1065px; margin:30px auto 40px auto; border:1px #ddd solid; background:#fff;
}
.content-left{
	width:265px; height:1065px; background:#f8f8f8; float:left;
}
.content-right{
	width:873px; height:1040px; float:right; padding:25px 30px 0px 30px;
}
.txpic{
	width:265px; height:125px; position:relative;
}
.txtop{
	width:90px; height:90px; position:absolute; top:35px; left:87px; z-index:10;
}
.tx,.tx img{
	width:90px; height:90px;
}
.tx{
	position:absolute; top:35px; left:87px;
}
.txtitle{
	width:265px; height:40px; line-height:40px; font-size:18px; text-align:center;
}
.gradescore{
	width:265px; height:40px; line-height:40px; text-align:center;
}
.gradescore span{
	margin:0px 10px; color:#333;
}
.listblock{
	width:265px; height:185px; padding-top:10px;
}
.em{
	width:223px; height:32px; line-height:32px; border:1px #ececec solid; background:#fff; margin:0px 20px 10px 20px; color:#666; font-size:12px;
}
.emtxt{
	margin:0px 15px 0px 10px; color:#333;
}
.c-lefttitle{
	width:225px; height:30px; margin:0px auto; font-weight:bold; border-bottom:2px #e2e2e2 solid; color:#333;
}
.infor{
	width:225px; height:135px; margin:0px auto; padding:8px 0px 0px 0px;
}
.infornum{
	width:225px; height:24px; line-height:24px; font-size:12px;
}
.inforblock{
	width:225px; height:12px; overflow:hidden;
}
.infortxt{
	width:225px; height:80px; color:#666; line-height:24px; font-size:12px; padding-top:10px;
}
.infortxt a{
	color:#008bff; text-decoration:underline;
}
.infortxt a:hover{
	color:#0074d4; text-decoration:underline;
}
.linkblock{
	width:225px; height:220px; margin:0px auto;
}
.lbtxt{
	width:225px; height:60px; font-size:12px; color:#333; margin-top:10px; line-height:26px;
}
.qrcode{
	width:225px; height:105px; padding-top:5px;
}
.qrcode span{
	width:100px; height:100px; border:1px #ddd solid; display:block; float:left; margin:0px 5px;
}
.qrcode span.weixin{
	background:url(images/weixin.png);
}
.qrcode span.weibo{
	background:url(images/weixin.png);
}
.qrcodetxt{
	width:225px; height:30px;
}
.qrcodetxt span{
	width:100px; height:30px; display:block; float:left; margin:0px 5px; text-align:center; font-size:12px;
}


.cr-title{
	width:873px; height:40px; border-bottom:2px #e2e2e2 solid;
}
.cr-title span.l{
	display:block; width:200px; height:40px; font-size:18px; float:left;
}
.cr-title span.r{
	float:right; text-align:right; width:100px; height:40px; line-height:40px; font-size:12px;
}
.cr-title span.r a{
	color:#666; text-decoration:none;
}
.cr-title span.r a:hover{
	color:#ff6c00;
}
.recommendtask{
	width:873px; height:640px;
}
.rtblock{
	width:873px; height:120px; border-bottom:1px #e9e9e9 dotted;
}
.rtblock:hover{
	background:#fcfcfc;
}
.rtb-pic{
	width:90px; height:80px; margin:20px 20px 20px 0px; float:left;
}
.rtb-pic img{
	width:90px; height:80px;
}
.rtb-txt{
	width:460px; height:100px; float:left; padding:10px 0px;
}
.rtb-txt-title{
	width:460px; height:40px; line-height:40px; font-size:14px; overflow:hidden; font-weight:bold;
}
.rtb-txt-title a{
	color:#00a0d9; text-decoration:none;
}
.rtb-txt-title a:hover{
	color:#ff6c00; text-decoration:underline;
}
.rtsub{
	width:460px; height:26px; line-height:26px; overflow:hidden; color:#666; font-size:12px;
}
.rtb-type{
	margin-right:30px;
}
.charge{
	width:130px; height:120px; float:left; line-height:120px; color:#f6a22b;
}
.signup{
	width:160px; height:120px; float:right;
}
.signupbutton{
	width:160px; height:30px; display:block; margin:20px 0px 5px 0px;
}
.signup a{
	display:block; width:60px; height:24px; line-height:24px; border-radius:4px; background:#3fa7cc; color:#fff; text-align:center; font-size:12px; text-decoration:none; float:right;
}
.signup b{
	font-weight:normal;
}
.signupnum{
	width:160px; height:30px; display:block; font-size:12px; text-align:right; color:#666;
}
.dotask{
	width:873px; height:260px; padding-top:15px; overflow:hidden;
}
.dotask ul li{
	width:873px; height:30px;
}
.dotask ul li a.dotxt{
	width:730px; height:30px; float:left; display:block; color:#333; text-decoration:none; cursor:pointer; overflow:hidden;
}
.dotask ul li a.dotxt:hover{
	color:#f46700; text-decoration:underline;
}
span.do-time{
	width:100px; height:30px; float:right; text-align:right; display:block; font-size:12px; color:#333;
}


/*personaldata.html main*/
.main{
	margin:0px auto; width:1200px; height:auto; padding:30px 0px;
}
.pd-blocktop{
	width:1198px; height:240px; background:#fff url(images/basicinfor.jpg) no-repeat right bottom; border:1px #ddd solid; margin-bottom:15px;
}
.headpic{
	width:200px; height:240px; float:left; text-align:center;
}
.tximg{
	width:120px; height:120px; position:relative; margin:30px auto 10px auto;
}
.tx120{
	width:120px; height:120px; position:absolute; top:0px; left:0px; z-index:100;
}
.txpic120{
	width:120px; height:120px; position:absolute; top:0px; left:0px;
}
.txpic120 img{
	width:120px; height:120px;
}
.txtxt{
	width:200px; height:30px;
}
.txtxt a{
	color:#333; text-decoration:none; outline:none;
}
.txtxt a:hover{
	color:#ff6c00; text-decoration:underline;
}
.basicinfor{
	width:998px; height:240px; float:right; position:relative;
}
.basicinfor-title{
	width:998px; height:30px; padding:25px 0px 0px 0px; font-size:20px;
}
.basicinfor a.amend{
	width:21px; height:61px; display:block; cursor:pointer; background:url(images/basicamend.png) no-repeat; position:absolute; top:0px; right:15px; outline:none;
}
.basicinfor-txt{
	width:998px; height:auto; margin:10px 0px;
}
.basicinfor-txt span{
	margin-right:40px; color:#4f4f4f;
}
.basicinfor-txt b,.profile b{
	color:#000; font-weight:normal; font-size:14px;
}
.profile{
	width:978px; padding:0px 20px 0px 0px; font-size:12px; color:#4f4f4f; line-height:26px;
}

.pd-block{
	width:1198px; height:auto; border:1px #ddd solid; margin-bottom:15px; background:#fff;
}
.pd-block-title{
	width:1163px; height:40px; line-height:40px; border-bottom:1px #eee solid; background:#fafafa; padding:0px 15px 0px 20px;
}
.pd-block-title span.pbt-l{
	width:200px; height:40px; float:left; font-size:16px; color:#09769d; display:block;
}
.pd-block-title span.pbt-r{
	width:200px; height:40px; float:right; text-align:right; font-size:12px; color:#e14f30; display:block;
}
.pd-block-title span.pbt-r a{
	color:#e14f30; text-decoration:none; outline:none;
}
.pd-block-title span.pbt-r a:hover{
	color:#e14f30; text-decoration:underline;
}
.pd-block-con{
	width:1138px; height:auto; padding:15px 30px; background:#fff;
}
.paragraph{
	width:1138px; height:30px; margin:10px 0px;
}
.paragraph-left{
	width:138px; height:20px; line-height:20px; float:left; text-align:right; padding-right:15px;
}
.paragraph-right{
	width:985px; height:20px; line-height:20px; float:right;
}
.paragraph-right span{
	width:36px; height:20px; text-align:center; font-size:12px; display:block; background:#fafafa; border:1px #ddd solid; margin:0px 8px 0px 0px; float:left; color:#333;
}
.paragraph-right span.pitchon{
	background:#fff; color:#ff9500; border:1px #faa732 solid;
}
.paragraph-right span.fillet{
	width:auto; height:20px; padding:0px 15px; text-align:center; font-size:12px; display:block; background:#fff; border:1px #ddd solid; border-radius:12px; -webkit-border-radius:12px; -moz-border-radius:12px; -o-border-radius:12px; margin:0px 8px 0px 0px; float:left; color:#333;
}
.paragraph-right em{
	width:auto; height:14px; line-height:14px; font-size:12px; font-family:'宋体'; color:#fff; display:block; float:left; text-align:center; font-style:normal; margin:4px 15px 0px 0px; padding:0px 3px;
}
.paragraph-right em.zj{
	background:#3f95e0;
}
.paragraph-right em.sl{
	background:#6ac2dc;
}
.paragraph-right em.yb{
	background:#7cce7c;
}
.paragraph-right em.lj{
	background:#efba6e;
}
.paragraph-right em.wu{
	background:#ccc;
}
.pbc-subtitle{
	width:1118px; height:40px; line-height:40px; padding-left:20px;
}
.pbc-con{
	width:1100px; height:30px; font-size:12px; margin:0px 0px 0px 38px;
}
.pbc-con span{
	margin-right:30px; color:#4f4f4f;
}
.pbc-con span b{
	color:#000; font-weight:normal;
}


/*pop div*/
.modal{
	position:fixed; top:50%; left:45%; z-index:1050; width:740px; margin:-250px 0 0 -280px; background:#ffffff; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; outline:none; display:none;
}
.close{
	cursor:pointer; position:absolute; right:15px; top:14px; background:url(images/close.png) no-repeat; width:16px; height:16px;
}
.modal-backdrop{/*bottom black*/
	position:fixed; top:0; right:0; bottom:0; left:0; z-index:1040; background:#000000; opacity:0.6; filter:alpha(opacity=60);
}
.modal h1,#forgetform h1,#signup-modal h1,#login-modal h1{
	background:#3689c8; font-size:18px; color:#fff; padding-left:15px; height:50px; line-height:50px; margin:0px; border-top-left-radius:6px; border-top-right-radius:6px;
}
.pop-tx{
	width:690px; height:auto; padding:20px 25px 30px 25px;
}
.pop-tx-con{
	width:690px; height:360px;
}
.pop-tx-button{
	width:210px; height:32px; margin:25px auto 10px auto;
}
.pop-tx-button input.save{
	width:90px; height:32px; background:#3689c8; border:0px; text-align:center; color:#fff; float:left; border-radius:4px; cursor:pointer;
}
.pop-tx-button input.cancel{
	width:90px; height:32px; background:#ddd; border:0px; text-align:center; color:#333; float:right; border-radius:4px; cursor:pointer;
}
.ptc-l{
	width:515px; height:360px; float:left; background:#f2f2f2;
}
.ptc-r{
	width:160px; height:350px; float:right; background:#f2f2f2; padding-top:10px;
}
.ptc-l input.uploadtx{
	width:88px; height:28px; background:url(images/uploadtx.png) no-repeat; border:0px; position:relative; left:210px; cursor:pointer; margin-top:20px;
}
.ptc-l-img{
	width:485px; height:260px; margin:0px auto; padding-top:5px;
}
.ptc-l-img img{
	width:485px; height:260px;
}
.ptc-l p{
	width:515px; height:30px; text-align:center; color:#808080; font-size:12px;
}
.ptc-r p{
	width:160px; height:30px; text-align:center; margin-bottom:15px; color:#333;
}
.pop-tx120{
	width:160px; height:120px; text-align:center;
}
.pop-tx120 img{
	width:120px; height:120px;
}
.pop-tx90{
	width:160px; height:90px; text-align:center;
}
.pop-tx90 img{
	width:90px; height:90px;
}

.pop-infor{
	width:690px; height:30px; margin-bottom:10px; overflow:hidden;
}
.pop-infor span.pop-infor-bt{
	width:120px; height:30px; float:left; display:block; text-align:right;
}
.pop-infor input.base{
	width:300px; height:28px; border:1px #d5d5d5 solid; border-radius:4px; padding:0px 5px; float:left; margin-right:10px;
}
.pop-infor select.baseselect{
	width:305px; height:28px; border:1px #d5d5d5 solid; border-radius:4px; padding-left:5px; float:left; margin-right:10px;
}
.pop-infor span.pop-infor-tips{
	width:200px; height:30px; float:left; color:#999; display:block; font-size:12px;
}
.pop-infor span.pop-infor-txt{
	display:block; height:30px; margin:0px 20px 0px 0px; float:left;
}
.pop-infor span.pop-infor-xg{
	display:block; height:30px; float:left; color:#e76200; text-decoration:underline; cursor:pointer;
}
.pop-infor select.location{
	width:130px; height:28px; margin-right:10px; float:left; border-radius:4px; border:1px #d5d5d5 solid;
}
.pop-infor input.radio,.pop-type-check input.radio{
	float:left; margin:10px 5px 0px 0px;
}
.pop-infor-area{
	width:690px; height:130px; margin-bottom:10px; overflow:hidden;
}
.pop-infor-area span.pop-infor-areabt{
	width:120px; height:100px; float:left; display:block; text-align:right;
}
.pop-infor-area textarea{
	width:520px; height:100px; float:left; border-radius:4px; border:1px #d5d5d5 solid; float:left;
}
.pop-infor-area span.pop-infor-areatips{
	width:500px; height:24px; line-height:24px; color:#999; position:relative; top:0px; left:120px; display:block; font-size:12px;
}

.pop-infor span.pop-type-bt{
	width:150px; height:30px; float:left; display:block; text-align:right;
}
.pop-infor-type{
	width:690px; height:60px; margin-bottom:10px; overflow:hidden;
}
.pop-infor-type span.pop-type-bt{
	width:150px; height:60px; float:left; display:block; text-align:right;
}
.pop-type-check{
	margin-right:15px; float:left;
}

.pop-tx table{
	border-left:1px #e8e8e8 solid; border-top:1px #e8e8e8 solid;
}
.pop-tx td{
	height:34px; line-height:34px; border-bottom:1px #e8e8e8 solid; border-right:1px #e8e8e8 solid; text-align:center; color:#333;
}

input.td-radio{
	width:14px; height:14px;
}

.hj-title{
	width:690px; height:30px; border-bottom:1px #d5d5d5 solid; margin-bottom:15px;
}
.hj-title span.hj-l{
	width:100px; height:30px; display:block; float:left;
}
.hj-title input.hj-r{
	background:#f05b54 url(images/add1.png) no-repeat 7px 5px; width:50px; height:20px; border:0px; font-size:12px; color:#fff; border-radius:10px; cursor:pointer; padding-left:10px; float:right; margin-top:5px;
}
.hjpc{
	width:690px; height:150px; border-bottom:1px #d5d5d5 dotted;
}
.hjpc2{
	width:690px; height:100px; border-bottom:1px #d5d5d5 dotted;
}
.hjpc-row{
	width:690px; height:30px; margin-bottom:10px;
}
.hjpc-row span.hjpc-row-bt{
	width:100px; height:30px; text-align:right; float:left; display:block;
}
.hjpc-row span.hjpc-row-bt2{
	width:130px; height:30px; text-align:right; float:left; display:block;
}
.hjpc-row select.hjpc-row-sel{
	width:200px; height:30px; float:left; border-radius:4px; border:1px #d5d5d5 solid;
}
.hjpc-row-type{
	width:690px; height:60px;
}
.hjpc-row-type span.hjpc-row-typebt{
	width:100px; height:60px; text-align:right; float:left; display:block;
}
.en-button{
	width:74px; height:24px; position:relative; top:-13px; left:616px;
}
.en-button input{
	width:74px; height:24px; line-height:24px; border:0px; border-top-right-radius:4px; border-top-left-radius:4px; border-bottom-right-radius:0px; border-bottom-left-radius:0px; background:#cecece; text-align:center; color:#fff; font-size:12px; cursor:pointer;
}
.en-button input:hover{
	background:#a4a4a4;
}


/*message.html*/
.messagecon{
	width:1198px; height:auto; margin:30px auto 40px auto; border:1px #ddd solid; background:#fff; overflow:auto;
}
.messagemenu{
	width:200px; min-height:760px; float:left; background:#fafafa;
}
.messagemain{
	width:937px; min-height:700px; border-left:1px #ddd solid; float:right; padding:30px;
}
.mesmenutitle{
	width:175px; height:50px; line-height:50px; border-bottom:1px #ddd solid; color:#5a5a5a; font-size:14px; font-weight:bold; padding-left:25px;
}
ul.mesul li{
	width:170px; height:30px; margin:10px 0px; padding:0px 15px;
}
ul.mesul li span.mesmenuli{
	width:80px; height:30px; float:left; display:block;
}
ul.mesul li span.num{
	width:auto; padding:0px 5px; height:14px; line-height:14px; margin:10px 0px 0px 0px; display:block; background:#f56969; border-radius:12px; float:right; text-align:center; color:#fff; font-size:12px;
}
ul.mesul li a{
	color:#333; text-decoration:none;
}
ul.mesul li a:hover{
	color:#008fc2; text-decoration:none;
}
.mesmaintitle{
	width:937px; height:30px; font-size:18px; color:#333; margin-bottom:15px;
}
.mesmaincon{
	width:937px; height:auto; padding-bottom:30px;
}
.mesmaincon-title{
	width:937px; height:46px; background:#fafafa; border-bottom:1px #e9e9e9 solid;
}
input.mescheck{
	width:12px; height:12px; margin:18px 0px 0px 10px; float:left;
}
.mesmaincon-title span.checkall{
	width:50px; height:30px; padding:8px 0px 0px 5px; float:left; display:block; color:#5a5a5a;
}
.mesmaincon-title input.mesbut{
	width:auto; height:24px; padding:0px 10px; float:left; border:1px #dadada solid; background:#fff; margin:12px 5px 0px 0px; color:#696969; font-size:12px; cursor:pointer;
}
.mesmaincon-title input.mesbut:hover{
	background:#f6f6f6;
}
.mesmaincon .mesconul{
	width:937px; height:auto;
}
.mesmaincon .mesconul td{
	font-size:12px; line-height:24px; border-bottom:1px #ccc solid;
}
.bgwhite{
	background:#fff;
}
.bggrey{
	background:#f8f8f8;
}
span.meslisttxt{
	width:700px; height:auto; line-height:20px; display:block; float:left; padding:8px 0px; color:#333;
}
span.meslisttime{
	width:140px; height:auto; line-height:20px; display:block; float:right; padding:8px 0px;
}
span.meslisttxt a{
	color:#109cf3; text-decoration:none;
}
span.meslisttxt a:hover{
	color:#0085d8; text-decoration:underline;
}


.mespage {
	width:937px; height:30px; margin:10px 0px 0px 0px; text-align:right; font-size:12px;
}
.mespage a {
	border:#fff 1px solid; padding:2px 5px; margin:2px; color: #333; text-decoration:underline;
}
.mespage a:hover {
	border:#000099 1px solid; color:#000;
}
.mespage span.current {
	border:#fff 1px solid; padding:2px 5px; font-weight:bold; margin:2px; color:#000; background:#fff;
}
.mespage span.disabled {
	border:#eee 1px solid; padding:2px 5px; margin:2px; color:#ddd;
}


.adv-egg{
	width:200px; height:200px; position:fixed; right:10px; bottom:70px;
}


/*account.html*/
.accountcon{
	width:1200px; height:auto; overflow:auto; background:#fff; margin:0px auto; padding-bottom:50px;
}
.acc-title{
	width:1150px; height:40px; border-bottom:1px #ddd solid; font-size:18px; margin:15px 25px 0px 25px;
}
.acc-block{
	width:1200px; height:151px; margin-top:30px;
}
.acc-left{
	width:549px; height:150px; border-right:1px #ddd dotted; float:left; padding:0px 10px 0px 40px;
}
.acc-right{
	width:570px; height:150px; float:left; padding:0px 10px 0px 20px;
}
.mobile{
	width:130px; height:150px; float:left; background:url(images/icon-mobile.png) no-repeat 30px 30px;
}
.acc-txt{
	width:419px; height:130px; float:left; padding-top:20px;
}
.acc-mail{
	width:130px; height:150px; float:left; background:url(images/icon-mailbox.png) no-repeat 30px 30px;
}
.acc-line{
	width:auto; height:1px; background:#ddd;
}
.acc-txt a,.profitdiv-con a{
	color:#008bff; outline:none;
}
.acc-txt a:hover,.profitdiv-con a:hover{
	color:#ff5a00; text-decoration:none;
}
.zhifubao{
	width:130px; height:150px; float:left; background:url(images/icon-zhifubao.png) no-repeat 30px 30px;
}
.realname{
	width:130px; height:150px; float:left; background:url(images/icon-realname.png) no-repeat 30px 30px;
}
.acc-password{
	width:130px; height:150px; float:left; background:url(images/icon-password.png) no-repeat 30px 30px;
}
.acc-infor{
	width:1100px; height:130px; margin:60px 50px; border-top:1px #ddd solid; font-size:12px; color:#666;
}
.acc-infor-title{
	width:1080px; height:40px; margin-top:30px; padding-left:20px;
}
.acc-infor-con{
	width:1080px; line-height:24px; padding-left:20px;
}

.acc-changepassword{
	width:1000px; height:300px; margin:30px 100px 0px 100px;
}
.acc-realname{
	width:1000px; height:auto; margin:30px 100px 0px 100px; overflow:auto;
}
.acp-tips{
	width:983px; height:32px; line-height:32px; background:#fffee9; border:1px #f8e6b5 solid; color:#ed6100; font-size:12px; padding-left:15px;
}
.acp-form{
	width:1000px; height:auto; padding-top:20px;
}
.acp-form-block{
	width:1000px; height:30px; padding:15px 0px 5px 0px;
}
.acp-form-block span.form-word{
	width:100px; height:30px; float:left; text-align:right; display:block; padding-right:10px;
}
.acp-form-block input{
	width:300px; height:28px; float:left; padding-left:5px; border:1px #ddd solid; border-radius:4px;
}
.acp-form-block span.form-tips{
	width:auto; height:30px; float:left; display:block; color:#F00; padding-left:10px;
}
.acp-form-block select{
	width:auto; height:28px; float:left; padding-left:5px; border:1px #ddd solid; border-radius:4px;
}
.intensity{
	width:300px; margin:5px 0px 0px 110px; height:20px; line-height:20px; font-size:12px; text-align:center; color:#666;
}
.intensity span{
	display:block; width:50px; height:20px; background:#eee; margin-right:5px; float:left;
}
.acp-confirm{
	width:300px; margin:20px 0px 0px 110px; height:32px;
}
.acp-confirm input{
	width:90px; height:32px; border:0px; border-radius:4px; background:#2a99c1; text-align:center; color:#fff; cursor:pointer;
}
.acp-confirm input:hover{
	background:#0886b3;
}

input.reg-input-yz{
	width:120px; height:28px; border:1px #ddd solid; border-radius:4px; float:left; margin-right:10px; background:#fff;
}
input.telyz2{
	width:auto; height:28px; border:1px #fbad69 solid; border-radius:4px; float:left; padding:0px 10px; cursor:pointer; background:#fffdde; color:#f17d18;
}

.acc-title span.at-total{
	font-size:14px; color:#f7651d; float:right;
}

.acp-form-block input.upload{
	width:auto; height:30px; border:0px; border-radius:4px; float:left; padding:0px 10px; background:#2a99c1; text-align:center; color:#fff; cursor:pointer; margin:0px 0px 0px 10px;
}

/*myprofit.html*/
.profitdiv{
	width:1100px; height:auto; overflow:auto; margin:30px 50px 0px 50px;
}
.profitdiv-title{
	width:1080px; height:32px; padding-left:20px; line-height:32px; color:#fff; font-size:16px;
}
.pt01{
	background:#f8f8f8 url(images/myprofit_bt1.png) no-repeat left center;
}
.pt02{
	background:#f8f8f8 url(images/myprofit_bt2.png) no-repeat left center;
}
.pt03{
	background:#f8f8f8 url(images/myprofit_bt3.png) no-repeat left center;
}
.profitdiv-con{
	width:1040px; height:auto; padding:30px 30px 20px 30px;
}
.profitdiv-con table{
	border-top:1px #ddd solid; border-left:1px #ddd solid;
}
.profitdiv-con td{
	border-bottom:1px #ddd solid; border-right:1px #ddd solid; text-align:center; font-size:12px; height:36px; line-height:36px;
}
.profitdiv-title span.at-total{
	margin-right:10px; font-size:14px; color:#f7651d; float:right;
}
.button-apply{
	width:60px; height:20px; line-height:20px; font-size:12px; color:#fff; border:0px; background:#3eb3dd; border-radius:2px; cursor:pointer;
}
.button-apply2{
	width:50px; height:20px; line-height:20px; font-size:12px; color:#999; background:#f2f2f2; border:1px #ddd solid; border-radius:2px;
}
.pop-profit{
	width:690px; height:auto; padding:20px 25px 30px 25px;
}
.pop-profit table{
	border-top:1px #ddd solid; border-left:1px #ddd solid;
}
.pop-profit td{
	border-bottom:1px #ddd solid; border-right:1px #ddd solid; text-align:center; font-size:12px; height:36px; line-height:36px;
}
.st-input{
	width:80px; height:20px; border:1px #ddd solid; margin:0px 5px;
}

/*hongbao.html*/
.hongbao{
	background:url(images/hongbao.png) no-repeat; width:400px; height:570px; color:#fff000;
}
.modal-hongbao{
	position:fixed; top:50%; left:55%; z-index:1050; width:740px; margin:-250px 0 0 -280px; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; outline:none; display:none;
}
.gxn{
	width:330px; height:60px; line-height:60px; text-align:center; padding:240px 0px 0px 0px; font-size:36px; margin:0px 70px 0px 0px;
}
.hd{
	width:330px; height:30px; font-size:30px; text-align:center; margin:10px 70px 0px 0px;
}
.djlq{
	width:330px; height:45px; margin:50px 70px 0px 0px; text-align:center;
}
.dj-but{
	width:190px; height:45px; border:0px; background:#ffd83b; font-size:18px; color:#be180f; cursor:pointer;
}














/*old*/
.title{
	width:1190px; height:34px; margin:0px auto; padding:25px 0px 20px 0px;
}
.titlename{
	width:800px; height:34px; line-height:34px; font-size:24px; color:#000; float:left;
}
.titlename img{
	margin:1px 10px 1px 0px; float:left;
}
.navigation{
	width:1188px; height:50px; overflow:hidden;
}
.navigation ul{
	width:1188px; height:50px; list-style:none;
}
.navigation ul li{
	width:168px; height:47px; float:left; margin:0px 1px; background:#ededed; border-top:3px #c1c1c1 solid; cursor:pointer; text-align:center; font-size:16px; line-height:46px;
}
.navigation ul li.navlisel,.navigation ul li:hover{
	width:168px; height:47px; float:left; margin:0px 1px; background:#fff; border-top:3px #0aa0b8 solid; cursor:pointer;
}
.navigation ul li.navlileft{
	margin-left:0px;
}
.navigation ul li.navliright{
	margin-right:0px;
}
.navigation ul li a{
	color:#000;
}
.reviewtable{
	width:1000px; height:auto; margin:0px auto; padding:0px 0px 20px 0px;
}
.reviewtable table{
	border-top:1px #ececec solid; border-left:1px #ececec solid;
}
.reviewtable table td{
	border-right:1px #ececec solid; border-bottom:1px #ececec solid; line-height:30px; padding:5px 10px; font-size:14px; word-break:break-all;
}
.probutton{
	width:150px; height:50px; margin:0px auto 60px auto; padding:0px 425px;
}
.probutton input{
	width:150px; height:50px; text-align:center; font-size:20px; font-family:Microsoft Yahei; color:#fff; cursor:pointer; border:0px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; background:#0aa0b8;
}
.chart{
	width:1152px; height:220px; margin:30px 18px 15px 18px;
}
.chart-block{
	width:258px; height:218px; border:1px #ececec solid; margin:0px 14px; float:left;
}
.chart-pic{
	width:258px; height:187px; overflow:hidden;
}
.chart-txt{
	width:258px; height:30px; border-top:1px #ececec solid; background:#f8f8f8; text-align:center; overflow:hidden; line-height:30px;
}
.navibutton{
	width:1124px; height:auto; margin:0px 32px; padding-top:15px;
}
.navlistsearch{
	width:1124px; height:36px; overflow:hidden; margin-bottom:15px;
}
.navlistsearch select{
	width:85px; height:34px; margin-right:5px; float:left;
}
.navlistsearch input.nav-input{
	width:200px; height:32px; margin-right:5px; float:left;
}
.navlistsearch span{
	float:left; width:auto; height:32px; line-height:34px; padding:0px 5px 0px 0px;
}
.navlistsearch input.nav-timeslot{
	width:100px; height:32px; margin-right:5px; float:left;
}
.navlistsearch input.navsea-button{
	margin-right:5px;
}
.navlistbutton{
	width:1124px; height:36px; overflow:hidden; margin-bottom:15px;
}
.navlistbutton input.nav-button{
	width:110px; height:36px; border:0px; background:#0aa0b8; color:#fff; cursor:pointer; margin-right:3px; text-align:left; padding-left:36px;
}
.navlistbutton input.nav-button2{
	width:110px; height:36px; border:0px; background:#0aa0b8; color:#fff; cursor:pointer; margin-right:3px; text-align:center;
}
.navlistbutton input.nav-button5{
	width:110px; height:36px; border:0px; background:#0aa0b8; color:#fff; cursor:pointer; margin-right:3px; text-align:left; padding-left:30px;
}
.navlistbutton input.nav-img1{
	background:#0aa0b8 url(images/navnew.png) no-repeat 15px 10px;
}
.navlistbutton input.nav-img2{
	background:#0aa0b8 url(images/navimport.png) no-repeat 15px 10px;
}
.navlistbutton input.nav-img3{
	background:#0aa0b8 url(images/navexport.png) no-repeat 15px 10px;
}
.navlistbutton input.nav-img4{
	background:#607c92 url(images/navdelete.png) no-repeat 15px 10px;
}
.navlistbutton input.nav-img5{
	background:#0aa0b8 url(images/navnew.png) no-repeat 10px 10px;
}
.navlistbutton input.nav-img6{
	background:#607c92;
}
.page{
	width:1188px; height:30px; line-height:30px; margin:10px 0px 20px 0px; text-align:center; font-size:12px;
}
.page span{
	margin:0px 10px;
}
.nav-title{
	width:1080px; height:36px; line-height:36px; border-bottom:1px #42acbd solid; margin:20px auto 30px auto; color:#00a5bf; font-size:16px;
}
.nav-title span.nav-title-new{
	background:url(images/navnew2.png) no-repeat 0px 3px; padding-left:21px;
}
.nav-title span.nav-title-view{
	background:url(images/view2.png) no-repeat 0px 3px; padding-left:21px;
}
.nav-title span.nav-title-shenhe{
	background:url(images/shenhe-hover.png) no-repeat 0px 3px; padding-left:21px;
}
.nav-title span.nav-title-export{
	background:url(images/navexport2.png) no-repeat 0px 3px; padding-left:21px;
}
.nav-title span.nav-title-import{
	background:url(images/navimport2.png) no-repeat 0px 3px; padding-left:21px;
}
.nav-title span.nav-title-edit{
	background:url(images/edit-hover.png) no-repeat 0px 3px; padding-left:21px;
}
.nav-form{
	width:1080px; height:auto; margin:0px auto; padding:0px;
}
.nav-form-block1{
	width:1080px; height:36px; line-height:36px; margin-bottom:20px;
}
.nfb1-name{
	width:175px; height:36px; float:left; text-align:right; padding-right:5px;
}
.nfb1-con{
	width:900px; height:36px; float:left;
}
.nfb1-con input.case-input{
	width:460px; height:34px; float:left;
}
.nfb1-con span,.export-block span{
	float:left; margin:0px 0px 0px 10px;
}
.nfb1-con span.ras{
	float:left; margin:0px 20px 0px 0px;
}
.form-input-box select.case-sel,.nfb1-con select.case-sel{
	width:130px; height:36px; float:left; margin-right:10px;
}
.form-input-box select.case-sel2,.nfb1-con select.case-sel2{
	width:400px; height:36px; float:left; margin-right:10px;
}
.nfb1-con input.case-time{
	width:128px; height:34px; float:left; margin-right:10px;
}
.nav-form-block2{
	width:1080px; height:170px; line-height:36px; margin-bottom:20px;
}
.nfb2-name{
	width:175px; height:100px; float:left; text-align:right; padding-right:5px;
}
.nfb2-con{
	width:900px; height:100px; float:left;
}
.nfb2-con textarea.case-textarea{
	width:700px; height:98px; float:left;
}
.casebutton{
	width:1080px; height:50px; padding:20px 0px 70px 0px; margin:0px auto;
}
.casebutton input{
	width:150px; height:50px; text-align:center; font-size:20px; color:#fff; cursor:pointer; border:0px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; background:#0aa0b8; position:relative; top:0px; left:230px; margin:0px 15px;
}
.centerbutton{
	width:1080px; height:50px; padding:30px 0px 50px 0px; margin:0px auto;
}
.centerbutton input{
	width:150px; height:50px; text-align:center; font-size:20px; color:#fff; cursor:pointer; border:0px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; background:#0aa0b8; position:relative; top:0px; left:320px; margin:0px 30px;
}
.shenhe-form{
	margin:20px auto 10px auto; border:1px #CCCCCC dotted; padding:15px 0px; width:1000px; overflow:hidden; background:#fdfdfd;
}
.export{
	width:1000px; height:200px; margin:0px auto; padding:0px 30px 0px 50px;
}
.export-block{
	width:200px; height:50px; line-height:50px; float:left;
}
.export-block input.input-checkbox{
	width:15px; height:15px; margin-right:0px; padding:0px; border:0px; background:url(images/checkboxbg.png) no-repeat; margin-top:16px; float:left;
}
table.fontcenter td{
	text-align:center;
}
.profit-title{
	width:1080px; height:36px; line-height:36px; border-bottom:1px #e3e3e3 solid; margin:20px auto 30px auto; color:#000; font-size:16px;
}
.proftbt{
	margin-right:15px;
}
a.proftxg{
	color:#f05b54; font-size:14px; background:url(images/modifyicon.png) no-repeat left center; padding-left:15px; cursor:pointer;
}
.profit-block{
	width:1000px; height:153px; margin:0px auto; padding-bottom:30px;
}
.profit{
	width:250px; height:50px; line-height:50px; float:left; text-align:center; border-bottom:1px #CCCCCC dotted;
}
.profit-number{
	font-size:18px; color:#e2423a; font-family:Arial, Helvetica, sans-serif;
}
.profit-span{
	width:50px; height:18px; line-height:18px; border-radius:10px; display:block; text-align:center; color:#fff; font-size:12px; margin:16px auto;
}
.bg-red{
	background:#f05b54;
}
.bg-green{
	background:#01cb75;
}
.expend-input{
	width:90px; height:24px; line-height:24px; text-align:center;
}
.expend-select{
	width:54px; height:24px;
}
.jfreview{
	width:1000px; height:auto; margin:0px auto; padding:0px 0px 30px 0px;
}
.seemore{
	width:1000px; height:30px; line-height:30px; text-align:right;
}
.seemore a{
	color:#00F; text-decoration:underline; cursor:pointer;
}
.opinion{
	width:968px; height:auto; border:1px #eaeaea solid; padding:5px 15px 20px 15px;
}
.opinion-blockbar{
	width:968px; height:40px; line-height:40px; border-bottom:1px #CCCCCC dotted; font-size:12px; color:#333;
}
.opinion-block1{
	width:130px; height:40px; float:left; text-align:center;
}
.opinion-block3{
	width:140px; height:40px; float:left; text-align:center;
}
.opinion-block2{
	width:292px; height:40px; float:left; padding-left:10px;
}
input.taskmanage{
	width:68px; height:22px; border:1px #45aaba solid; background:#f9feff; text-align:center; color:#0c7ead; font-size:12px; line-height:22px; border-radius:12px;
}
input.taskmanage:hover{
	width:70px; height:24px; border:0px; background:#169dd5; text-align:center; color:#fff; font-size:12px; line-height:24px; border-radius:12px;
}
input.return{
	width:70px; height:26px; border:1px #c9c9c9 solid; background:#f5f5f5; color:#000; cursor:pointer; text-align:center; border-radius:12px; margin-top:2px; position:relative; left:585px;
}
.screening-search{
	width:1070px; height:120px; margin:0px auto; padding-left:10px;
}
.screening-search span{
	width:100px; height:36px; line-height:36px; display:block; float:left; text-align:right; padding-right:10px; margin-bottom:20px;
}
.screening-search select{
	width:150px; height:36px; float:left; margin-bottom:20px;
}
.screening-search input.nav-input{
	float:left;
}
.screening-button{
	width:86px; height:36px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border:0px; background:#0aa0b8; text-align:center; font-size:14px; float:right; margin-right:30px; color:#fff;
}
.nav-title span.nav-title-right{
	width:56px; height:22px; padding:0px; position:relative; top:0px; left:938px;
}
.nav-title span.nav-title-right input{
	width:56px; height:22px; border:0px; background:#0aa0b8; text-align:center; color:#fff; font-size:12px; line-height:22px; border-radius:12px;
}
.pop-container{
	margin:30px auto; padding:0px; width:1188px; height:auto; border:1px #ddd solid; background:#fff; margin-bottom:40px;
}
.pop-table{
	width:1078px; height:auto; margin:0px auto; padding:0px; border:1px #EBEBEB solid;
}
.allot-tj{
	width:1080px; height:30px; line-height:30px; margin:0px auto 20px auto;
}
.tasktitle{
	width:1124px; height:30px; line-height:30px; margin:10px 0px 20px 0px; font-size:16px; border-bottom:1px #42acbd solid; color:#00a5bf;
}
.desk{
	width:1190px; height:auto; padding:30px 0px 0px 0px; margin:0px auto;
}
.desk-infor{
	width:1188px; height:210px; margin:0px auto; border:1px #dddede solid; background:#fff;
}
.desk-block{
	width:1190px; height:300px; margin:0px auto; padding:20px 0px;
}
.desk-block-left{
	width:583px; height:298px; float:left; border:1px #dddede solid; background:#fff;
}
.desk-block-right{
	width:583px; height:298px; float:right; border:1px #dddede solid; background:#fff;
}
.dbtitle{
	width:538px; height:48px; line-height:48px; background:#f8f9fa url(images/desktitlebg.png) no-repeat 18px 15px; border-bottom:1px #e7e7e7 solid; padding-left:45px; font-size:16px;
}
.dbtitle-right{
	width:150px; height:48px; float:right;
}
.dbtitle-left{
	float:left;
}
.dbtitle-right a{
	margin-right:15px; font-size:14px;
}
.dbcon{
	width:523px; height:220px; overflow:hidden; padding:15px 30px;
}
.dbcon ul{
	width:523px; height:220px; list-style:none; margin:0px; padding:0px;
}
.dbcon ul li{
	width:523px; height:32px; line-height:32px; overflow:hidden;
}
.dbcon ul li a{
	color:#000; text-decoration:none;
}
.dbcon ul li a:hover{
	color:#F30; text-decoration:underline;
}
.desk-head{
	width:220px; height:210px; float:left; position:relative;
}
.deskhead-infor{
	width:210px; height:210px; float:left; border-right:1px #e8e8e8 dotted;
}
.deskhead-right{
	width:720px; height:210px; float:left; padding:0px 19px 0px 18px;
}
.desk-head-pic{
	width:120px; height:120px; background:url(images/headbg.png) no-repeat; position:relative; top:20px; left:50px; z-index:10;
}
.desk-head-txt{
	width:220px; height:30px; line-height:30px; position:relative; top:30px; left:0px; text-align:center;
}
.desk-head-txt a{
	color:#000; margin:0px 10px;
}
.desk-head-txt a:hover{
	color:#000; text-decoration:underline;
}
.desk-name{
	width:210px; height:40px; line-height:40px; margin-top:20px; font-size:24px;
}
.deskname-con{
	width:210px; height:145px; font-size:12px; padding-top:5px;
}
.inforbar{
	width:170px; height:10px; display:block; background:#f5f5f5; border:1px #dbdbdb solid; margin:8px 0px;
}
.deskname-con p img{
	margin-right:10px; vertical-align:middle;
}
.deskhead-right ul li{
	width:180px; height:150px; float:left; text-align:center; display:block; line-height:40px; padding-top:60px;
}
.dhr1{
	font-size:18px;
}
.dhr2{
	color:#0aa0b8; font-size:28px; font-family:Arial, Helvetica, sans-serif;
}

.schedule1{
	width:1088px; height:54px; margin:0px auto; background:url(images/schedule.png) no-repeat;
}
.schedule2{
	width:1088px; height:54px; margin:0px auto; background:url(images/schedule.png) no-repeat 0px -54px;
}
.schedule3{
	width:1088px; height:54px; margin:0px auto; background:url(images/schedule.png) no-repeat 0px -108px;
}
.schedule-time{
	width:1110px; height:30px; line-height:30px; margin:0px auto;
}
.schedule-time span{
	display:block; width:350px; height:30px; float:left;
}
.container2{
	margin:0px auto; padding:0px; width:1188px; height:auto; min-height:600px; border:1px #ddd solid; background:#fff; margin-bottom:40px;
}
.addaccount{
	width:300px; height:28px; float:right;
}
.addaccount a{
	width:90px; height:28px; line-height:28px; background:#0aa0b8; color:#fff; border-radius:12px;  -moz-border-radius:12px; -webkit-border-radius:12px; display:block; text-align:center; margin-left:10px; float:right;
}
.addaccount a:hover{
	width:90px; height:28px; line-height:28px; background:#008da3; color:#fff; border-radius:12px;  -moz-border-radius:12px; -webkit-border-radius:12px; display:block; text-align:center; margin-left:10px; float:right;
}
.addaccount a.fh{
	width:110px; height:28px; line-height:28px; background:#0aa0b8; color:#fff; border-radius:12px;  -moz-border-radius:12px; -webkit-border-radius:12px; display:block; text-align:center; margin-left:10px; float:right;
}
.addaccount a.fh:hover{
	width:110px; height:28px; line-height:28px; background:#008da3; color:#fff; border-radius:12px;  -moz-border-radius:12px; -webkit-border-radius:12px; display:block; text-align:center; margin-left:10px; float:right;
}
a.edit{
	background:url(images/edit.png) no-repeat left center; padding-left:20px; margin:0px 10px; color:#000;
}
a.view{
	background:url(images/view.png) no-repeat left center; padding-left:20px; margin:0px 10px; color:#000;
}
a.delete{
	background:url(images/close.png) no-repeat left center; padding-left:20px; margin:0px 10px; color:#000;
}
a.shenhe{
	background:url(images/shenhe.png) no-repeat left center; padding-left:20px; margin:0px 10px; color:#000;
}
a.edit:hover{
	background:url(images/edit-hover.png) no-repeat left center; padding-left:20px; margin:0px 10px; color:#000;
}
a.view:hover{
	background:url(images/view-hover.png) no-repeat left center; padding-left:20px; margin:0px 10px; color:#000;
}
a.delete:hover{
	background:url(images/close-hover.png) no-repeat left center; padding-left:20px; margin:0px 10px; color:#000;
}
a.shenhe:hover{
	background:url(images/shenhe-hover.png) no-repeat left center; padding-left:20px; margin:0px 10px; color:#000;
}
.form-input-box input.in-time{
	width:130px; height:34px; line-height:24px; padding-left:5px; margin-top:2px; float:left;
}
.form-input-box input.selectfile,.nfb1-con input.selectfile{
	width:90px; height:36px; border:1px #d5d5d5 solid; background:#f5f5f5; text-align:center; color:#000; font-size:14px; font-family:Microsoft Yahei; line-height:34px; margin:2px 5px 0px 0px;
}
.form-input-box input.upfile,.nfb2-con input.upfile,.form-input-upfile input.upfile{
	width:90px; height:36px; border:0px; background:#1abd9b; text-align:center; color:#fff; font-size:14px; font-family:Microsoft Yahei; line-height:34px; margin:2px 5px 0px 0px;
}
.form-input-upfileblock{
	width:1000px; min-height:40px; height:auto; margin-bottom:15px;
}
.form-input-upfile{
	width:800px; min-height:40px; height:auto; float:left; padding:0px 15px 10px 5px;
}
.nfb2-con object,.form-input-upfile object{
	float:left; margin:2px 5px 0px 0px;
}
.reg-form{
	width:1000px; height:auto; margin:0px auto; padding:0px;
}
.form-input{
	width:1000px; height:40px; line-height:40px; margin-bottom:15px;
}
.form-input{
	width:1000px; height:40px; line-height:40px; margin-bottom:15px;
}
.form-input-textarea{
	height:230px;
}
.form-input-name{
	width:150px; height:40px; text-align:right; float:left;
}
.form-input-box{
	width:800px; height:40px; float:left; padding:0px 15px 0px 5px; overflow:hidden;
}
.form-input-box span img{
	width:14px; height:14px; margin:0px; position:relative; top:2px; left:-10px;
}
.form-input-boxblock{
	width:800px; height:40px; float:left; padding:0px 15px 0px 5px;
}
.form-input-boxtext{
	width:800px; height:100px; float:left; padding:0px 15px 0px 5px;
}
.form-input-box input,.form-input-boxblock input{
	width:340px; height:34px; line-height:24px; padding-left:5px; margin-top:2px; margin-right:10px; float:left;
}
.form-input-box select{
	border:1px #d5d5d5 solid; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; behavior:url(js/PIE.htc); width:345px; height:34px; line-height:24px; padding-left:5px; margin-top:2px; margin-right:10px; float:left;
}
.form-input-box select.location{
	width:130px;
}
.form-input-box input.tel{
	width:200px; height:34px; line-height:24px; padding-left:5px; margin-top:2px; float:left;
}
.form-input-box input.check{
	width:110px; height:34px; line-height:24px; padding-left:5px; margin-top:2px; margin-left:10px; float:left; text-align:center; background:#fffdde; border:1px #fbad69 solid; color:#f17d18; font-family:Microsoft Yahei; font-size:14px; cursor:pointer;
}
.form-input-box input.yzm{
	width:100px; height:34px; line-height:24px; padding-left:5px; margin-top:2px; float:left;
}
.opinion-table table{
	border:0px;
}
.opinion-table table td{
	border:0px; font-size:12px;
}
