<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zxkj.dao.ExpenseInfoMapper">

	<!-- 插入用户收支 -->
	<insert id="addExpenseInfo" parameterType="ExpenseInfoVO">
		insert into
		tbl_expense_info
		(
		user_id,
		drawMoney_password,
		total_money,
		surplus_money,
		freeze_money,
		already_apply_money
		)
		VALUES
		(
		#{userId},
		#{drawMoneyPassword},
		#{totalMoney},
		#{surplusMoney},
		#{freezeMoney},
		#{alreadyApplyMoney}
		)
	</insert>
	
	<select id="selectExpenseInfoCount" parameterType="Integer">
		select 
			count(1) 
		from
			tbl_expense_info
		where user_id=#{userId}
	</select>
	
	<select id="selectExpenseInfoByUserId" parameterType="Integer" resultType="ExpenseInfoVO">
		select 
			user_id as userId,
			drawMoney_password as drawMoneyPassword,
			total_money as totalMoney,
			surplus_money as surplusMoney,
			freeze_money as freezeMoney,
			already_apply_money as alreadyApplyMoney
		from 
			tbl_expense_info
		where user_id=#{userId}
	</select>

	<!-- 更新用户的抽奖总收入 -->
	<update id="updateExpenseInfo" parameterType="ExpenseInfoVO">
		update
		tbl_expense_info tei
		<set>
			<if test="totalMoney != null">
				tei.total_money = #{totalMoney},
			</if>
			<if test="surplusMoney != null">
				tei.surplus_money = #{surplusMoney},
			</if>
			<if test="freezeMoney != null">
				tei.freeze_money = #{freezeMoney},
			</if>
			<if test="alreadyApplyMoney != null">
				tei.already_apply_money = #{alreadyApplyMoney},
			</if>
		</set>
		where tei.user_Id=#{userId}
	</update>

</mapper>