<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zxkj.dao.FinanceDetailsMapper">

	<!-- 查询用户财务明细 -->
	<select id="findFinanceDetailsCount" parameterType="FinanceDetailVO"
		resultType="Integer">
		select count(1)
		from tbl_finance_details
		where
		user_id=#{userId}
		and moneyfrom_type=#{moneyfromType}
		and moneyfrom_description=#{moneyfromDescription}
	</select>

	<!-- 更新用户的抽奖总收入 -->
	<update id="updateFinanceDetails" parameterType="FinanceDetailVO">
		update
		tbl_finance_details
		set
		reward_money=reward_money+#{rewardMoney},
		bonus_money=bonus_money+#{bonusMoney}
		where
		user_id=#{userId}
		and moneyfrom_type=#{moneyfromType}
		and moneyfrom_description=#{moneyfromDescription}
	</update>

	<!-- 插入用户财务明细 -->
	<insert id="addFinanceDetails" parameterType="FinanceDetailVO">
		insert into
		tbl_finance_details
		(
		user_id,
		user_name,
		reward_money,
		bonus_money,
		forfeit_money,
		bug_money,
		testcase_money,
		moneyfrom_description,
		moneyfrom_type,
		finance_timestamp
		)
		VALUES
		(
		#{userId},
		#{userName},
		#{rewardMoney},
		#{bonusMoney},
		#{forfeitMoney},
		#{bugMoney},
		#{testcaseMoney},
		#{moneyfromDescription},
		#{moneyfromType},
		now()
		)
	</insert>

</mapper>