<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zxkj.dao.UserFingerPrintMapper">
	<!-- 通过用户ID获得用户指纹信息 -->
	<select id="findUFPByUserId" parameterType="Integer" resultType="UserFingerPrintVO">
		SELECT
			user_id AS userId,
			file_id AS fiingerPrintId,
			add_time AS addTime
		FROM
			tbl_user_finger_print
		WHERE
			user_id = #{userId}
	</select>
	
	<!-- 插入1条用户指纹信息 -->
	<insert id="saveUFPVO" parameterType="UserFingerPrintVO">
		INSERT INTO 
			tbl_user_finger_print
			(
				user_id,
				file_id,
				update_time
			)
			VALUES
			(
				#{userId},
				1,
				#{addTime}
			)
	</insert>
</mapper>