<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zxkj.dao.UserMapper">

	<!-- 用户登录 -->
	<select id="login" parameterType="String" resultType="user">
		select id userId,
			user_name as userName,
			id_number as realName,
			password as password,
			phone_no as phone,
			state as state,
			role as role
		from tbl_user_info 
		where phone_no = #{phoneNo}
	</select>
	
	<!-- 判断账号是否存在 -->
	<select id="judgeAccount" parameterType="user" resultType="Integer">
		select count(1)
		from tbl_user_info 
		where user_name = #{userName}
	</select>
	
	<!-- 用户注册 -->
	<insert id="addUser" parameterType="user">
		<selectKey keyProperty="id" order="AFTER" resultType="Integer">
	      	SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO tbl_user_info(
			user_name,
			password,
			phone_no,
			id_number,
			state,
			descrip
		)
		VALUES
		(
			#{userName},
			#{password},
			#{phoneNo},
			#{idNumber},
			#{state},
			#{descrip}
		)
	</insert>
	
	<update id="updateUser" parameterType="user">
		update tbl_user_info
		set
			<if test="password!='' and password!=null">
				password=#{password}
			</if>
			<if test="state!=null and state!=0">
				state = #{state}
			</if>
		where id = #{id}
	</update>
	
	<!-- 查询需要审核的人员 -->
	<select id="queryBeAuditedUser" resultType="user">
		select 
			id as userId ,
			user_name userName,
			phone_no phoneNo,
			id_number idNumber
		from tbl_user_info
		where state=0
	</select>
	
	<!-- 查询已审核的人员 -->
	<select id="queryAuditedUser" resultType="user">
		select 
			id as userId ,
			user_name userName,
			phone_no phoneNo,
			id_number idNumber
		from tbl_user_info
		where state=1 and role=0
		LIMIT #{startRow}, #{pageSize}
	</select>
	
	<delete id="deleteUser" parameterType="Integer">
		delete from tbl_user_info where id = #{id}
	</delete>
	
	<!-- 查询手机号-->
	<select id="phoneExist" parameterType="String" resultType="Integer" >
		select count(id) from tbl_user_info where phone_no=#{phoneNo}
	</select>
	
	<!-- 根据用户id查找用户 -->
	<select id="queryUserById" parameterType="Integer" resultType="user">
		select 
			id as userId ,
			user_name as userName,
			phone_no as phoneNo,
			id_number as idNumber,
			descrip as descrip
		from tbl_user_info
		where id=#{userId}
	</select>
	
	<!-- 查询已审核的人员总数 -->
	<select id="queryAuditedUserTotal" resultType="Integer">
		select 
			count(id)
		from tbl_user_info
		where state=1 and role=0
	</select>
</mapper>